<div>
<body class="text-center account-page" style="background-color:  #f1f1f1;">
  <main class="form-signin account-card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body  ">
          <div class="logo" style="font-size: 40px;"><span>Yeni </span><span><span>Üyelik</span></span></div>
          <hr class="solid">
          <form [formGroup]="registerForm" class="mt-4">
              <div class="form-floating mb-2">
                  <input formControlName="firstName" type="text" class="form-control" id="signupfirstname"
                      placeholder="Ad">
                  <label for="signupfirstname">Ad</label>
              </div>
              <div class="form-floating mb-2">
                  <input formControlName="lastName" type="text" class="form-control" id="signuplastname"
                      placeholder="Soyad">
                  <label for="signuplastname">Soyad</label>
              </div>
              <div class="form-floating mb-2">
                  <input formControlName="email" type="email" class="form-control" id="signupemail"
                      placeholder="name@example.com">
                  <label for="signupemail">E-posta adresi</label>
              </div>
              <div class="form-floating mb-2">
                  <input formControlName="password" type="password" class="form-control" id="signuppassword"
                      placeholder="Parola">
                  <label for="signuppassword">Parola</label>
              </div>
              <div class="form-floating mb-2">
                  <input formControlName="confirmPassword" type="password" class="form-control"
                      id="signupconfirmpassword" placeholder="Parola tekrar">
                  <label for="signupconfirmpassword">Parola tekrar</label>
              </div>

              <button (click)="register()" class="w-100 btn btn-lg"
                  style="background-color: #1d2b3f;  color: #8d9cb2;"
                  type="submit"><strong>KAYIT
                      OL</strong></button>

              <div class="text-dark mt-3" style="font-size:14px">
                  Zaten bir hesabın var mı? <a routerLink="login"
                      style="color: #1d2b3f;">Hemen giriş yap!</a>
              </div>
          </form>
      </div>
  </main>
</body>
</div>
